main
{
/*    margin-top: 10px;*/
    margin: 10px;
}
h4, h3 {
    text-align: center;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    /*    font-family: fantasy;*/
}

button {
    background-color: #4CAF50;
    border-radius: 5%;
    color: white;
    width: 100%;
    text-align: center;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;
}

  fieldset
    {
        width: 80%;
        text-align: center;
        margin: 20px;
    }
    
    fieldset input , fieldset select
    {
        text-align: center;
        width: 100%;
    }

nav ul {
    height: 300px;
}

nav ul {
    overflow: hidden;
    overflow-y: scroll;
}



/*Desktop*/
@media only screen and (min-width: 650px) {

.container
    {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-auto-rows: auto;
        grid-gap: 5px;
    }
    
    .countryFilter
    {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background-color: lightslategrey;
    }
    
    .countryList
    {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        background-color: lightslategrey;
    }
    
    .description
    {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
         background-color: lightslategrey;
    }
    
    .cityList
    {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
        background-color: lightslategrey;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
    }
    
    .cityList h4
    {
        grid-column: 1 / 4;
        grid-row: auto;
    }
    .photo
    {
        grid-column: 3 / 4;
        grid-row: 1 / 4;
        background-color: lightslategrey;
    }



}

/*Mobile*/
@media only screen and (max-width: 650px) {


}